@import "../../mixins.scss";
.footer {
    background-color: var(--black3);
    padding: 20px 0;
    color: white;
    position: relative;
    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .logo {
        img {
            width: 200px;
        }
        padding-bottom: 10px;
    }
    .menuItems {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 5px;
        @include md {
            margin-bottom: 30px;
            gap: 30px;
        }
        .menuItem {
            transition: all ease 0.3s;
            cursor: pointer;
            font-size: 12px;
            @include md {
                font-size: 16px;
            }
            &:hover {
                color: var(--pink);
            }
        }
    }
    .infoText {
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
        text-align: center;
        max-width: 800px;
        margin-bottom: 20px;
        @include md {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
                box-shadow: 0 0 0.625em var(--pink);
                color: var(--pink);
            }
        }
    }
    .company {
        color: gray;
        font-size: 15px;
        margin-top: 15px;
    }
    // .company::after {
    //         content: "";
    //         position: absolute;
    //         left: 0;
    //         height: 10%;
    //         width: 100%;
    //         background: var(--black3);
    //         // border-left: 2px solid white;
    //         animation: typing 1.5s steps(60) infinite;
    // }
}

// @keyframes typing {
//     100%{
//         left: 100%;
//         margin: 0 -35px 0 35px;
//     }
// }